<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.komputerisasi.sprinter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CRUD"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.komputerisasi.sprinter.Scanning.ScannRmMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.Scanning.ScannRmKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.Scanning.ScannFgMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.Scanning.ScannFgKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.UpdateAddRmMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.UpdateAddRmKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.UpdateAddFgMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.UpdateAddFgKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.FgMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.FgKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.RmMasuk"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.DataManagement.RmKeluar"
            android:exported="false" />
        <activity
            android:name="com.komputerisasi.sprinter.LoginUtama"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.komputerisasi.sprinter.MainActivity"
            android:exported="true" />
    </application>

</manifest>